<div id="landing-wrapper" ng-controller="confirmSignupController">
	<div id="header-wrapper" class="shadow">
		<div id="header">
			<a ng-href="#!/" id="logo"></a>

			<div id="header-buttons">
				<a href="#">Home</a>
				<a href="#">FAQ</a>
				<a href="#">How it works</a>
			</div>

			<div id="search">
				<i class="material-icons">search</i>
				<input type="text" placeholder="Search">
			</div>
		</div>
	</div>
	<div id="content-wrapper" class="empty">
		<div class="content confirm-signup">
			<div class="block">
				<div class="title">Are you expert or journalist?</div>
				<div class="text">Please fill the form and choose your role</div>

				<input type="text" placeholder="Your title">
				<input type="text" placeholder="Your company">
				<input type="text" placeholder="Field">
			</div>

			<div class="block">
				<div class="title">Sign up as user</div>
				<div class="text">You almost done! Come to see posted.</div>
			</div>
		</div>
	</div>
</div>