<div id="landing-wrapper" ng-controller="startController">
	<div id="header-wrapper">
		<div id="header">
			<a ng-href="#!/" id="logo"></a>

			<div id="header-buttons">
				<a href="#">Home</a>
				<a href="#">FAQ</a>
				<a href="#">How it works</a>
			</div>

			<div id="search">
				<i class="material-icons">search</i>
				<input type="text" placeholder="Search">
			</div>
		</div>
	</div>
	<div id="content-wrapper">
		<div class="content">
			<div class="welcome">
				<div class="title">Lorem Ipsum</div>
				<div class="text">Lorem ipsum dolor sit amet, vis natum saepe signiferumque cu. Ad usu homero fastidii luptatum, est in utinam ceteros fierent. Vidit semper scripserit vel cu. Eu dolorem phaedrum referrentur has</div>
				<button class="join">Join as guest</button>
			</div>

			<div class="auth-blocks">
				<div class="login">
					<div class="title">Log in with Email</div>

					<form>
						<input type="email" name="email" placeholder="Email">
						<input type="password" name="password" placeholder="Password">

						<div class="form-footer">
							<input type="submit" value="Log in">

							<div class="checkbox-wrapper">
								<input type="checkbox" id="remember" name="remember">
								<label for="remember" id="remember-label">Remember me</label>
							</div>

							<a href="#">Forgot password?</a>
						</div>
					</form>

					<div class="divider"></div>

					<div class="socials">
						<div class="title">Log in with Social</div>
						<div class="social-buttons">
							<a href="#" class="fb"></a>
							<a href="#" class="linkedin"></a>
							<a href="#" class="twitter"></a>
						</div>
					</div>
				</div>
				<a href="#">Find my account</a>

				<div class="register">
					<div class="title">Are you new? Sign up using form below</div>

					<form>
						<input type="text" name="name" placeholder="Full name">
						<input type="text" class="half" name="country" placeholder="Country"><input type="text" class="half" name="phone" placeholder="Phone number">
						<input type="email" name="email" placeholder="Email">
						<input type="password" name="password" placeholder="Password">

						<div class="form-footer">
							<input type="submit" value="Sign up">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>