<div id="landing-wrapper" ng-controller="resetPasswordController">
	<div id="header-wrapper" class="shadow">
		<div id="header">
			<a ng-href="#!/" id="logo"></a>

			<div id="header-buttons">
				<a href="#">Home</a>
				<a href="#">FAQ</a>
				<a href="#">How it works</a>
			</div>

			<div id="search">
				<i class="material-icons">search</i>
				<input type="text" placeholder="Search">
			</div>
		</div>
	</div>
	<div id="content-wrapper" class="empty">
		<div class="content reset-password">
			<div class="block">
				<div ng-if="tokenValid">
					<div class="title">Reset password</div>
					<div class="text">Please fill new password</div>

					<input type="password" ng-model="$parent.newPassword" ng-change="$parent.newPasswordError = false" ng-class="{error: $parent.newPasswordError}" placeholder="New password">
					<input type="password" ng-model="$parent.newPasswordRepeat" ng-change="$parent.newPasswordRepeatError = false" ng-class="{error: $parent.newPasswordRepeatError}" placeholder="Repeat new password">

					<div class="footer">
						<button ng-click="doReset()" class="resetpassword cta-button">Reset password</button>
					</div>
				</div>
				<div ng-if="!tokenValid">
					<div class="title">Invalid token</div>
					<div class="text">Please check the link and try again</div>
					<div ng-if="customError" class="text">{{customError}}</div>
					<a ng-href="#!/start">Go back to start page</a>
				</div>
			</div>
		</div>
	</div>
</div>