<div class="backdrop">
	<div ng-if="!sent" class="popup">
		<div class="title">Enter your email</div>
		<div class="text">You should receive password recovery link on your email.</div>
		<div class="text error">{{$parent.error}}</div>

		<div class="small-loader" ng-if="loading"></div>
		<input type="text" ng-change="$parent.emailError = false" ng-class="{error: $parent.emailError}" ng-model="$parent.email" placeholder="Email">

		<div class="footer">
			<button ng-click="$parent.confirm()" class="confirm">Send</button>
			<button ng-click="$parent.close()" class="cancel">Cancel</button>
		</div>
	</div>

	<div ng-if="sent" class="popup">
		<div class="title">Email sent</div>
		<div class="text">Check your email and follow the instructions in message</div>

		<div class="footer">
			<button ng-click="$parent.close()" class="confirm">Done</button>
		</div>
	</div>
</div>