/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&subset=cyrillic-ext');

$activeBlue: #43abe7;
$iconGrey: #b0bec8;
$middleGrey: #82898f;
$soDark: #535659;

@import "loader";

* {
	outline: none;
}

.clear {
	clear: both;
}

html, body {
	width: 100%;
	min-height: 100%;
	height: 100%;
	font-family: 'Roboto';
}

body {
	background-color: #f1f5f7;
}

a {
	text-decoration: none;

	&:hover {
		opacity: .9;
	}
}

.so-bold {
	font-weight: 900;
}

.dark-bold {
	font-size: 14px;
	font-weight: 900;
	color: $soDark;
}

.small-light {
	color: $iconGrey;
	font-size: 13px;
}

.cta-button {
	display: inline-flex; position: relative;
	justify-content: space-around;
	flex-flow: row nowrap;
	padding: 0 13px;

	height: 36px;
	background-color: $activeBlue;
	border-radius: 18px;
	border: none;

	cursor: pointer;

	@include transition(background-color .2s);

	&:hover {
		background-color: darken($activeBlue, 10%);
	}

	i, .title {
		margin: 0 3px;
		color: #ffffff;
	}

	i {
		width: 24px;
		line-height: 36px;
		font-size: 16px;
	}

	.title {
		height: 100%;
		font-weight: 900;
		line-height: 36px;
		font-size: 13px;
	}
}

.avatar-border {
	width: 42px; height: 42px;
	border-radius: 23px;
	border-width: 2px;
	border-style: solid;
	box-sizing: border-box;

	&.gold {
		$color: #f4bf64;
		border-color: $color;
		.badge .number {
			background-color: $color;
		}
	}

	&.silver {
		$color: #bfced8;
		border-color: $color;
		.badge .number {
			background-color: $color;
		}
	}

	&.bronze {
		$color: #e79a4f;
		border-color: $color;
		.badge .number {
			background-color: $color;
		}
	}

	.avatar {
		width: 36px; height: 36px;
		margin: 1px;
		border-radius: 18px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.badge {
		position: absolute;
		height: 16px;
		margin: 32px 0 0 14px;
		background-image: url('../images/avatar-badge.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		z-index: 2;

		.number {
			width: 12px; height: 12px;
			font-size: 8px;
			color: #ffffff;
			line-height: 12px;
			text-align: center;
			border-radius: 20px;
		}
	}
}

.small-icon {
	position: relative;
	width: auto; height: 36px;
	background: transparent;
	border: none;
	cursor: pointer;

	&:hover, &.active {
		i {
			color: darken($iconGrey, 10%);
		}
	}

	i {
		color: $iconGrey;
		@include transition(color .2s);
	}

	.badge {
		position: absolute;
		top: -4px; right: -4px;
		width: 14px; height: 14px;
		padding-right: 1px;
		border-radius: 7px;
		background-color: #e8676a;
		color: #ffffff;
		font-size: 9px;
		font-weight: 900;
		line-height: 14px;
		text-align: center;
		box-sizing: border-box;
	}
}

#wrapper {
	width: 1180px; height: 100%;
	margin: 0 auto 0;

	#top-bar {
		display: flex;
		justify-content: space-between;

		width: 100%; height: 90px;
		margin-top: 27px;
		
		#logo {
			display: block;
			width: 135px; height: 47px;
			margin-right: 100px;
			background-image: url('../images/logo.png');
		}

		#search {
			position: relative;
			width: 341px; height: 36px;

			input[type="text"] {
				width: 100%; height: 100%;
				padding: 0 17px;
				border-radius: 18px;
				border: 1px solid #dbe0e3;
				background: #ffffff;
				box-sizing: border-box;
				font-size: 13px;
				color: darken($iconGrey, 20%);
				@include transition(border .2s);

				&:focus, &.active {
					border-color: $activeBlue;
				}
			}

			i {
				position: absolute;
				top: 8px; right: 10px;
				color: #8899a6;
				font-size: 20px;
			}
		}

		.make-post {
			width: 115px;
		}

		.small-icon {
			width: 36px;
		}

		#user-block {
			width: 200px; height: 36px;

			.avatar-border {
				margin-right: 14px;
				float: left;
			}

			.name {
				display: block;
				margin-top: 6px;

				&:after {
					display: inline-block;
					position: absolute;
					margin-top: 1px;
					content: 'keyboard_arrow_down';
					font-family: 'Material Icons';
				}
			}

			.view-profile {
				font-size: 11px;
				color: $iconGrey;
			}
		}
	}

	.filters {
		display: flex; position: relative;
		justify-content: space-between;
		width: 100%; height: 70px;

		.menu-buttons {
			$bg: #cad4db;

			display: inline-block; position: relative;
			height: 26px;
			padding: 0 13px;
			background-color: $bg;
			border-radius: 13px;
			color: #ffffff;
			font-size: 13px;
			line-height: 26px;
			font-weight: 900;
			text-transform: uppercase;
			box-shadow: inset 0 2px 3px 0 rgba($middleGrey, .2);
			text-shadow: 0 1px 1px rgba($middleGrey, .5);
			@include transition(background-color .1s);
			cursor: pointer;

			&:hover {
				opacity: 1;
				background-color: darken($bg, 7%);
			}

			&.dropdown {
				display: flex;
				width: 155px;
				padding-right: 25px;
				flex-wrap: nowrap;
				text-transform: none;

				.title {
					margin-right: 4px;
					font-weight: 400;
				}

				// .option {
				// 	font-weight: 900;
				// }

				&:after {
					display: inline-block; position: absolute;
					right: 7px;
					margin-top: 1px;
					content: 'keyboard_arrow_down';
					font-family: 'Material Icons';
				}
			}
		}

		.dropdown-wrapper {
			position: relative;
		}

		.dropdown-list, .sublist {
			display: block; position: absolute;
			width: 240px;
			padding: 15px 0;
			z-index: 3;
			background-color: #ffffff;
			border-radius: 4px;
			box-shadow: 0 5px 8px 0 rgba($middleGrey, .6);
			opacity: 0;
			pointer-events: none;
			$aTime: .3s;
			@include transition(margin-top $aTime, opacity $aTime);

			&.active {
				margin-top: 28px;
				opacity: 1;
				pointer-events: auto;
			}

			li {
				height: 36px;
				padding: 0 23px;
				box-sizing: border-box;
				font-size: 14px;
				color: $soDark;
				line-height: 36px;
				cursor: pointer;
				@include transition(font-weight .1s, background-color .1s);

				&:hover, &.active {
					background-color: #f2f3f4;
				}

				&:hover {
					.sublist {
						display: block;
						opacity: 1;
						pointer-events: auto;
					}
				}

				&.active {
					font-weight: 900;
				}

				.sublist {
					display: none;
					top: 0;
					margin-left: 217px;
					pointer-events: none;

					li {
						font-weight: 400;

						&.active {
							background-color: #ffffff;
							
							&:after {
								position: absolute;
								right: 23px;
								content: 'check';
								font-family: 'Material Icons';
								font-size: 16px;
								color: $soDark;
							}
						}

						&:hover {
							background-color: #f2f3f4;
						}
					}
				}
			}
		}
	}

	> .content {
		display: flex;
		justify-content: space-between;

		a {
			color: $activeBlue;
		}

		.card {
			background-color: #ffffff;
			border-radius: 4px;
			box-shadow: 0 3px 6px 0 rgba($middleGrey, .3);
			box-sizing: border-box;

			&.user-info {
				padding: 25px;

				.name {
					line-height: 20px;
				}

				.status {
					font-size: 13px;
					color: $iconGrey;
				}

				.divider {
					width: 100%; height: 0;
					margin: 20px 0 20px -25px;
					padding-right: 50px;
					border-top: 1px solid #f0f2f4;
				}

				a {
					font-size: 14px;
					font-weight: 900;
					line-height: 24px;
				}
			}

			&.feed-item {
				margin-bottom: 30px;
				padding: 17px 17px 17px 65px;

				.avatar-border {
					position: absolute;
					margin-left: -52px;
				}

				.body {
					.title {
						display: flex;
						justify-content: space-between;
						height: 36px;
						line-height: 36px;

						.separator {
							font-size: 8px;
							color: $iconGrey;
						}

						.name {
							height: 36px;
							line-height: 36px;
						}

						.add {
							margin-left: 80px;
						}
					}

					.content {
						.text {
							margin-bottom: 20px;
							padding-right: 40px;
							color: $middleGrey;
							font-size: 13px;
							line-height: 20px;
							letter-spacing: .3px;
							box-sizing: border-box;
						}

						img {
							display: block;
							width: 100%;
							border-radius: 4px;
						}
					}

					.ratings {
						display: flex;
						justify-content: space-between;
						margin-top: 13px;

						$ratingsText: rgba($activeBlue, .5);

						.rating {
							display: flex;
							justify-content: space-between;
							flex-flow: wrap;
							padding: 10px;
							background-color: #f2f7fb;
							border-radius: 4px;

							.title {
								display: block;
								width: 100%; height: auto;
								margin-bottom: 4px;
								font-size: 10px;
								color: $ratingsText;
								text-align: center;
								line-height: normal;
							}

							.value {
								padding-left: 15px;
								color: $ratingsText;
								font-size: 13px;
								font-weight: 900;

								&:before {
									display: inline-block; position: absolute;
									margin: 0px 0 0 -15px;
									font-family: 'Material Icons';
								}

								&.likes:before {
									content: 'thumb_up';
								}

								&.dislikes:before {
									content: 'thumb_down';
								}

								&.shares:before {
									content: 'share';
								}
							}

							&:nth-child(2) {
								margin: 0 10px;
							}
						}
					}
				}

				.divider {
					width: calc(100% + 40px); height: 0;
					margin: 20px 0 20px -65px;
					padding-right: 50px;
					border-top: 1px solid #f0f2f4;
				}

				.actions {
					button {
						$buttonBg: #e8f5fc;

						height: 26px;
						margin-right: 2px;
						padding: 0 10px 0 27px;
						background-color: $buttonBg;
						border: none;
						border-radius: 14px;
						color: $iconGrey;
						font-size: 13px;
						font-weight: bold;
						cursor: pointer;
						@include transition(background-color .2s);

						&:hover {
							background-color: darken($buttonBg, 3%);
						}

						i {
							position: absolute;
							margin-left: -17px;
							margin-top: 1px;
							font-size: 13px;
						}
					}

					.comments-count {
						display: flex;
						justify-content: space-between;
						width: 30px;
						margin-top: 7px;
						float: right;
						color: $iconGrey;
						font-weight: 900;
						font-size: 13px;

						i {
							font-size: 15px;
						}
					}
				}

				.comments {
					margin-top: -10px;

					.comment {
						.comment-title {
							padding-top: 12px;
						}

						.text {
							margin-top: 12px;
							font-size: 13px;
							color: #82898f;
							line-height: 20px;
							letter-spacing: .3px;
						}

						.stats {
							margin-top: 12px;

							> div {
								display: inline-block;
								margin-right: 17px;
								font-weight: 900;
								font-size: 13px;
								color: $iconGrey;

								i, div {
									display: block;
									float: left;
								}

								i {
									margin: 0 4px 0 0;
									font-size: 13px;
								}
							}
						}
					}
				}

				.comment-box {
					position: relative;

					textarea {
						width: 100%; height: 38px;
						padding: 10px;
						border: 1px solid #f0f2f4;
						border-radius: 3px;
						font-family: 'Roboto';
						font-size: 13px;
						box-sizing: border-box;
						resize: none;

						&:focus {
							border-color: $activeBlue;
						}

						&:focus, &.not-empty {
							height: 76px;

							& + .send {
								margin-top: 6px;
								opacity: 1;
								pointer-events: auto;
							}

							& + .send + .upload-image {
								top: 85px; left: 0;
								right: auto;
							}
						}
					}

					.upload-image {
						position: absolute;
						top: 8px; right: 4px;
						border: none;
						background-color: transparent;
						color: $iconGrey;
						cursor: pointer;
						@include transition(color .2s);

						i {
							font-size: 20px;
						}

						&:hover {
							color: darken($iconGrey, 5%);
						}
					}

					.send {
						height: 26px;
						margin-top: -8px;
						padding: 0 12px;
						background-color: $activeBlue;
						border-radius: 18px;
						color: #ffffff;
						border: none;
						font-weight: 900;
						font-size: 13px;
						cursor: pointer;
						float: right;
						opacity: 0;
						pointer-events: none;

						&:hover {
							background-color: darken($activeBlue, 10%);
						}

						i {
							font-size: 13px;
						}
					}
				}
			}
		}

		.left, .right {
			width: calc(25% - 34px);
		}

		.middle {
			width: 50%;
			order: 2;

			.on-your-mind {
				position: relative;
				width: 100%;
				margin-bottom: 20px;
				padding: 15px;
				background-color: rgba($activeBlue, .15);
				box-sizing: border-box;
				border-radius: 3px;

				.avatar-border {
					float: left;
				}

				textarea {
					width: calc(100% - 54px); height: 38px;
					float: right;
					margin-top: 2px;
					padding: 10px;
					border: 1px solid $activeBlue;
					border-radius: 3px;
					font-family: 'Roboto';
					font-size: 13px;
					box-sizing: border-box;
					resize: none;

					&:focus, &.not-empty {
						height: 76px;

						& + .send {
							margin-top: 15px;
							opacity: 1;
							pointer-events: auto;
						}

						& + .send + .upload-image {
							top: 110px; left: 70px;
							right: auto;
						}
					}
				}

				.send {
					height: 26px;
					margin-top: -40px;
					padding: 0 12px;
					background-color: $activeBlue;
					border-radius: 18px;
					color: #ffffff;
					border: none;
					font-weight: 900;
					font-size: 13px;
					cursor: pointer;
					float: right;
					opacity: 0;
					pointer-events: none;

					&:hover {
						background-color: darken($activeBlue, 10%);
					}

					i {
						font-size: 13px;
					}
				}

				.upload-image {
					position: absolute;
					top: 25px;
					right: 18px;
					border: none;
					background-color: transparent;
					color: $activeBlue;
					cursor: pointer;
					@include transition(color .2s);

					i {
						font-size: 20px;
					}

					&:hover {
						color: darken($activeBlue, 5%);
					}
				}
			}
		}

		.left {
			order: 1;

			.recent-list {
				margin-top: 40px;

				> .title {
					margin-bottom: 20px;
					font-size: 14px;
				}

				a {
					display: block;
					font-size: 14px;
					line-height: 26px;
				}
			}

			.user-profile-info {
				.name {
					font-size: 20px;
					font-weight: 500;
					color: #424242;
					text-align: center;
				}

				.position {
					font-size: 13px;
					color: $middleGrey;
					text-align: center;
				}

				.rating-wrapper {
					display: flex;
					justify-content: space-between;
					margin-top: 14px;

					i, .rating-value {
						display: inline-block;
						font-size: 13px;
						color: $iconGrey;
					}

					.rating-value {
						margin-right: 160px;
					}
				}

				.rating-bar-wrapper {
					width: 100%; height: 4px;
					margin-top: 8px;
					background-color: #e2e6ea;
					border-radius: 2px;

					.rating-bar {
						height: 4px;
						background-color: $activeBlue;
						border-radius: 2px;
					}
				}
			}

			.user-description-block {
				margin-top: 35px;

				.title {
					margin-bottom: 14px;
					color: $soDark;
					font-size: 14px;
					font-weight: 900;
				}

				.value {
					color: $middleGrey;
					font-size: 13px;
					line-height: 20px;
				}

				a.file, a.file-download {
					display: block;
					padding-left: 20px;
					font-size: 13px;
					font-weight: 900;
					line-height: 25px;

					&:before {
						position: absolute;
						margin-left: -20px;
						font-family: 'Material Icons';
						font-size: 16px;
						color: $iconGrey;
					}

					&.file:before {
						content: 'picture_as_pdf';
					}

					&.file-download:before {
						content: 'file_download';
					}
				}

				.address-element {
					color: $middleGrey;
					font-size: 13px;
					padding-left: 20px;
					line-height: 25px;

					&:before {
						position: absolute;
						font-family: 'Material Icons';
						margin-left: -20px;
						font-size: 16px;
						color: $iconGrey;
					}

					&.email:before {
						content: 'email';
					}

					&.phone:before {
						content: 'phone';
					}

					&.skype:before, &.linkedin:before, &.fb:before {
						width: 20px; height: 20px;
						margin-top: 1px;
						background-repeat: no-repeat;
						background-position: 1px center;
						background-size: 14px;
						content: ' ';
					}

					&.skype:before {
						background-image: url('../images/skype-logo.png');
					}

					&.linkedin:before {
						background-image: url('../images/linkedin-logo.png');
					}

					&.fb:before {
						background-image: url('../images/facebook-logo.png');
					}
				}
			}

			.photos {
				display: flex;
				justify-content: space-between;
				align-content: space-between;
				flex-flow: row wrap;
				width: 261px; height: 261px;

				.photo {
					width: 84px; height: 84px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					border-radius: 2px;

					&:not(.empty) {
						animation: pulsephoto .4s linear infinite;
					}
				}

				@keyframes pulsephoto {
					0% {
						background-color: $iconGrey;
					}

					50% {
						background-color: darken($iconGrey, 10%);
					}

					100% {
						background-color: $iconGrey;
					}
				}

				.other-photos {
					width: 84px; height: 84px;
					background-color: $activeBlue;
					font-size: 32px;
					color: #ffffff;
					line-height: 84px;
					text-align: center;
					border-radius: 2px;
				}
			}
		}

		.right {
			order: 3;

			.familiar-experts, .new-questions {
				margin-bottom: 20px;

				> .header {
					display: flex;
					justify-content: space-between;
					margin-bottom: 18px;
					
					.title {
						padding-top: 5px;
						color: $soDark;
						font-size: 18px;
						font-weight: 500;
					}

					a {
						height: 26px;
						color: #ffffff;
						font-size: 13px;
						line-height: 26px;

						&:hover {
							opacity: 1;
						}
					}
				}

				.card {
					position: relative;
					padding: 5px 15px 15px;
					margin-bottom: 12px;
					box-sizing: border-box;

					button, .follow, .reply {
						color: $iconGrey;
						cursor: pointer;

						&:hover {
							color: darken($iconGrey, 10%);
						}
					}

					.hide, > .follow {
						position: absolute;
						margin-top: 5px; right: 4px;
						border: none;
						background: transparent;
						
						i {
							font-size: 15px;
						}
					}

					> .header {
						.avatar-border {
							float: left;
							margin-right: 10px;
						}

						.name {
							padding-top: 8px;
							color: #545759;
							font-size: 14px;
							font-weight: 900;
						}

						.role {
							color: $iconGrey;
							font-size: 13px;
						}
					}

					.divider {
						width: 100%; height: 0;
						margin: 20px 0 20px -15px;
						padding-right: 50px;
						border-top: 1px solid #f0f2f4;
					}

					.text {
						margin: -10px 0 15px 0;
						color: $iconGrey;
						font-size: 13px;
						line-height: 20px;
					}

					> .footer {
						display: flex;
						justify-content: space-between;

						.likes-row-wrapper {
							position: relative;
							width: 100%; height: 5px;
							margin: 5px 17px 0 0;
							background-color: #e8ebef;
							border-radius: 3px;

							.likes-value {
								position: absolute;
								margin-top: -15px;
								font-size: 10px;
								color: $iconGrey;
							}

							.likes-row {
								height: 5px;
								background-color: $activeBlue;
								border-radius: 3px;
							}
						}

						.likes {
							display: flex;
							font-size: 13px;
							font-weight: 900;
							color: $iconGrey;

							i {
								margin-right: 8px;
								font-size: 14px;
							}
						}

						.follow, .reply {
							display: flex;
							font-size: 13px;
							font-weight: 900;

							i {
								margin-right: 8px;
								font-size: 15px;
							}
						}
					}
				}

				> .footer {
					display: flex;
					justify-content: space-between;
					padding-top: 10px;
					color: $activeBlue;

					a {
						display: flex;
						font-size: 13px;

						i {
							margin-right: 3px;
							font-size: 14px;
						}
					}
				}
			}

			.about-box {
				padding: 15px;
				box-sizing: border-box;
				font-size: 13px;
				color: #8899a6;
				line-height: 20px;

				a {
					font-size: 13px;
				}

				a:not(.advertise) {
					color: #8899a6;
				}

				.divider {
					width: 100%; height: 0;
					margin: 10px 0 10px -15px;
					padding-right: 50px;
					border-top: 1px solid #f0f2f4;
				}
			}
		}
	}

	.wallpaper-wrapper {
		position: relative;
		margin-bottom: 55px;
		box-shadow: 0 3px 6px 0 rgba($middleGrey, .3);
		box-sizing: border-box;

		.wallpaper {
			width: 100%; height: 340px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.footer {
			width: 100%; height: 80px;
			background-color: #ffffff;

			.stats {
				display: flex;
				justify-content: space-between;

				height: 100%;
				margin-left: 230px;

				.stat {
					display: flex;
					justify-content: center;
					flex-flow: row wrap;
					align-content: center;
					box-sizing: border-box;

					height: 100%;
					margin: 0 30px;
					padding: 0 30px;
					border-bottom: 3px solid transparent;

					@include transition(border-bottom-color .2s);

					i {
						margin-right: 5px;
						font-size: 16px;
					}

					i, .value {
						color: $activeBlue;
					}

					.value {
						font-size: 18px;
						font-weight: 500;
					}

					.title {
						width: 100%;
						margin-top: 6px;
						color: $iconGrey;
						font-size: 11px;
						text-align: center;
					}

					&:hover {
						border-bottom-color: $activeBlue;
					}
				}
			}
		}

		.rated-avatar-wrapper {
			position: absolute;
			top: 238px; left: 32px;
			width: 204px; height: 204px;
			border-radius: 50%;
			// background-color: #ffffff;

			.avatar {
				position: absolute;
				width: calc(100% - 3px); height: calc(100% - 3px);
				margin: 1px 0 0 1px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 50%;
				box-sizing: border-box;
				border: 2px solid #ffffff;
			}

			canvas {
				// width: 100%; height: 100%;
				position: absolute;
			}

			.badge {
				position: absolute;
				width: 35px; height: 45px;
				top: 182px; left: 85px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;

				&.bronze {
					background-image: url('../images/bronze.png');
				}

				&.silver {
					background-image: url('../images/silver.png');
				}

				&.gold {
					background-image: url('../images/gold.png');
				}

				.rating-value {
					color: #ffffff;
					font-size: 20px;
					font-weight: 900;
					text-align: center;
					text-shadow: 0 1px 2px rgba(#000000, .2);
					line-height: 35px;
				}
			}
		}

		.buttons {
			display: flex;
			justify-content: space-between;
			position: absolute;
			margin: 285px 0 0 285px;

			& > div {
				display: flex;
				justify-content: space-between;
				height: 32px;
				margin-right: 12px;
				padding: 0 12px;
				border-radius: 16px;
				font-size: 13px;
				font-weight: 900;
				color: #ffffff;
				line-height: 32px;
				cursor: pointer;

				@include transition(background-color .2s);

				&.questions {
					background-color: $activeBlue;

					&:hover {
						background-color: darken($activeBlue, 5%);
					}
				}

				&.edit-profile {
					background-color: $soDark;

					&:hover {
						background-color: darken($soDark, 5%);
					}
				}

				i {
					margin: 6px 4px 0 0;
					font-size: 18px;
				}
			}
		}
	}
}



@import "medias";