<div id="wrapper">
	<div id="top-bar-background">
		<topbar user="user"></topbar>
	</div>

	<div class="mobile-search-wrapper">
		<search q="q"></search>
	</div>
	<div class="content">
		<div>
			<div class="ctab">
				<a href="" ng-class="{active:isActiveTab(1)}" ng-click="changeTab(1)">Experts manager</a> |
				<a href="" ng-class="{active:isActiveTab(2)}" ng-click="changeTab(2)">Upgrade Request</a> |
				<a href="" ng-click="refresh()">Refresh</a>
			</div>
			<div ng-show="current_tab == 1" class="tb-exma container">
			 	<div class="tb-ex-tl">	
			 		<div class="tb-ex-tl-h">
			 			<h1>Experts Manager</h1>
			 		</div>
			 		<div class="tb-ex-tl-a">
			 			<span><a href="">Home /</a></span>	
			 			<span> Experts Manager</span>	
			 		</div>
			 		<div class="clear"></div>					
			 	</div>
			 	<div class="tb-ex-ct">
			 		<div class="search-wrapper">
			 			<input type="text" placeholder="Search" ng-model="q" ng-model-options="{debounce: 300}" ng-change="multisearch()" ng-class="{active: q.length > 0}">	
			 		</div>	
			 		<div class="user-list-ad">
			 			<span>User listing, and expert enabler</span>
			 		</div>
			 		<div class="row-on-page">
			 			<span >Rows on page </span>
			 		</div>	
			 				 			 		
			 		<div class="tb-ex-ct-text">
				 		<table class="tb-ex-ct-i">				 			
					 		<thead>
					 			<tr class="tb-ex-ct-i-text">
					 				<th>ID's</th>
					 				<th>Name</th>
					 				<th>Username</th>
					 				<th>Email</th>
					 				<th>Role</th>
					 				<th>Expert</th>
					 				<th>Downgrade</th>
					 				<th>Block</th>
					 			</tr>					 			
					 		</thead>
					 		<tbody>
					 			<tr class="tb-ex-ct-i-items" ng-repeat="expert in experts">
					 				<td>{{expert._id}}</td>
					 				<td>{{expert.name}}</td>
					 				<td></td>
					 				<td><a href="mailto:{{expert.email}}">{{expert.email}}</a></td>
					 				<td>{{expert.role}}</td>
					 				<td><input type="checkbox" name=""></td>
					 				<td><button ng-if="expert.role=='expert'" ng-click="downgrade(expert._id)">Downgrade</button></td>
					 				<td>
						 				<button ng-if="!expert.isBlocked" ng-click="block(expert._id)">
							 				<span>
							 					Block
							 				</span> 
						 				</button>
						 				<button ng-if="expert.isBlocked" ng-click="unblock(expert._id)">
							 				<span>
							 					Unblock
							 				</span> 
						 				</button>					 				
					 				</td>
					 			</tr>
					 		</tbody>
				 		</table>
			 		</div>
			 		<div class="admin-pagination" ng-show="countExperts>0">
			 			<a ng-click="back()">Back</a>
			 			<a>{{page}}</a>
			 			<a ng-click="next()">Next</a>
			 		</div>			 		
			 	</div>				
			</div>

			<div ng-show="current_tab == 2" class="tb-exma container">
			 	<div class="tb-ex-tl">	
			 		<div class="tb-ex-tl-h">
			 			<h1>Upgrade Requests</h1>
			 		</div>
			 		<div class="tb-ex-tl-a">
			 			<span><a href="">Home /</a></span>	
			 			<span> Experts Manager</span>	
			 		</div>
			 		<div class="clear"></div>					
			 	</div>
			 	<div class="tb-ex-ct">
			 		<div class="search-wrapper">
			 			<input type="text" placeholder="Search" ng-model="requestq" ng-model-options="{debounce: 300}" ng-change="multisearchRequest()" ng-class="{active: requestq.length > 0}">	
			 		</div>
			 		<div class="user-list-ad">
			 			<span>User listing, and expert enabler</span>
			 		</div>
			 		<div class="row-on-page">
			 			<span >Rows on page </span>
			 		</div>			 		
			 		<div class="tb-ex-ct-text">
				 		<table class="tb-ex-ct-i">				 			
					 		<thead>
					 			<tr class="tb-ex-ct-i-text">
					 				<th>ID's</th>
					 				<th>Name</th>
					 				<th>Username</th>
					 				<th>Email</th>
					 				<th>Role</th>
					 				<th>Expert</th>
					 				<th>View Details</th>
					 				<th>Approve</th>
					 				<th>Deny</th>
					 			</tr>					 			
					 		</thead>
					 		<tbody>
					 			<tr class="tb-ex-ct-i-items" ng-repeat="request in requests">
					 				<td>{{request._id}}</td>
					 				<td>{{request.name}}</td>
					 				<td></td>
					 				<td><a href="">{{request.email}}</a></td>
					 				<td>{{request.role}}</td>
					 				<td><input type="checkbox" name=""></td>
					 				<td><button ng-click="viewDetails(request.pdf)">View Details</button></td>
					 				<td><button ng-click="upgrade(request.user, request._id)">Approve</button></td>
					 				<td><button ng-click="deny(request.user, request._id)">Deny</button></td>
					 			</tr>
					 		</tbody>
				 		</table>
			 		</div>
			 		<div class="admin-pagination" ng-show="countRequests>0">
			 			<a ng-click="backR()">Back</a>
			 			<a>{{rPage}}</a>
			 			<a ng-click="nextR()">Next</a>
			 		</div>				 		
			 	</div>				
			</div>
		</div>
	</div>
</div>