<div id="wrapper">
	<div id="top-bar-background">
		<topbar user="user"></topbar>
	</div>

	<div class="mobile-search-wrapper">
		<search q="q"></search>
	</div>

	<div id="filters-wrapper">
		<filters></filters>
	</div>
	<div class="content">
		<div class="container">
			<div class="timetracker" ng-hide="isFinishedAdvisedTime">
				<div class="timetracker-in">
					<div class="newtimeentry">
						<span class="n-t-entry">New Time Entry</span>
						<span class="n-t-date">Wednesday 26 jul</span>
						<div class="clear"></div>
					</div>			
					<div class="">
						<div class="time-t-a">
							<div class="time-task">
								<span><strong>Task:</strong>
								Advice on Graphic design
								</span>
							</div>
							<div class="time-book">
								<span><strong>Book Time:</strong>
									30 min
								</span>
							</div>				
							
						</div>
						<div class="time-number">
							<span><span ng-hide="hours>=10">{{hoursd}}</span>{{hours}}:<span ng-hide="minutes>=10">{{minutesd}}</span>{{minutes}}:<span ng-hide="seconds>=10">{{minutesd}}</span>{{seconds}}</span>
						</div>
						<div class="time-btn">
							<div class="time-btn-a-st">
								<button ng-click="startCountup()" class="time-btn-st">
								Start Timer
								</button>
							</div>
							<div>
								<button ng-click="stopCountup()" class="time-btn-cl">
								Close
								</button>
							</div>					
						</div>
					</div>
				</div>
			</div>
			<div class="write-views-expert">
		<div class="write-views-expert-in" ng-hide="!isFinishedAdvisedTime">
			<div class="wr-v-title">
				<a href="">Write a reviews on the expert advice</a>
			</div>
			<div class="wr-v-icon">
				<div class="wr-v-icon-st">
					<i class="fa" ng-class="{'fa-star':choosenRating>=1, 'fa-star-o':choosenRating<1}" ng-click="chooseRating(1)" aria-hidden="true"></i>
					<i class="fa" ng-class="{'fa-star':choosenRating>=2, 'fa-star-o':choosenRating<2}" ng-click="chooseRating(2)" aria-hidden="true"></i>
					<i class="fa" ng-class="{'fa-star':choosenRating>=3, 'fa-star-o':choosenRating<3}" ng-click="chooseRating(3)" aria-hidden="true"></i>
					<i class="fa" ng-class="{'fa-star':choosenRating>=4, 'fa-star-o':choosenRating<4}" ng-click="chooseRating(4)" aria-hidden="true"></i>
					<i class="fa" ng-class="{'fa-star':choosenRating>=5, 'fa-star-o':choosenRating<5}" ng-click="chooseRating(5)" aria-hidden="true"></i>					
				</div>
				<span>{{ratDes[choosenRating]}}</span>				
			</div>
			<div class="wr-v-inp">
				<textarea ng-model="reviewText" rows="4" cols="50" style="min-width: 600px;min-height: 200px">
					

				</textarea>
				<div class="write-views-expert-bot">
					<button ng-click="submitRating()" class="time-btn-st">
					Submit
					</button>
				</div>
			</div>
		</div>
	</div>		
		</div>
	</div>
</div>