<div id="wrapper">
	<div id="top-bar-background">
		<topbar user="user"></topbar>
	</div>

	<div class="mobile-search-wrapper">
		<search q="q"></search>
	</div>

	<div id="filters-wrapper">
		<filters></filters>
	</div>

	<div class="content" id="content-wrapper">
		<div class="left"></div>
		<div class="middle">
			<div class="avail-expert-set">
				<h1>SET AVAILABILITY</h1>
			</div>
			
			<div ng-repeat="avail in availability" class="avail-expert-set">
				<label for="availdate{{$index}}">Select date</label><md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
				<div class="time-ranges">
					<label>Ranges of Time:</label>
					<div ng-repeat="range in avail.ranges" class="ranges-time">
						<div class="range-item">
							<label>From</label>
							<md-select ng-model="range.from">
			          			<md-option ng-repeat="time in timeranges" value="{{time}}">{{time}}</md-option>
			        		</md-select>
						</div>
						<div class="range-item">
							<label>To</label>
							<md-select ng-model="range.to">
		          				<md-option ng-repeat="time in timeranges" value="{{time}}">{{time}}</md-option>
		        			</md-select>
						</div>						
					</div>
					<button ng-click="addMoreRangeOfTime($index)" md-no-ink class="md-primary">Add more range of time</button>
				</div>
				
				<div>
					<label>Price per hour: </label><input type="text" ng-model="avail.price" name="">
				</div>
			</div>
			<div>
				<button ng-click="addMoreAvail()" class="md-warn">Add More Availability</button>
			</div>
			

			<div>
				<button ng-click="saveAvailability()" class="md-primary">Save</button>
			</div>

			<div class="avail-expert-set">
				<h1>BOOKINGS</h1>

				<table>
					<thead>
						<td>No</td>
						<td>User</td>
						<td>Date</td>
						<td>From</td>
						<td>To</td>
						<td>Status</td>
					</thead>
					<tbody>
						<tr ng-repeat="booking in bookings">
							<td>{{$index+1}}</td>
							<td>{{booking.user}}</td>
							<td>{{booking.date}}</td>
							<td>{{booking.from}}</td>
							<td>{{booking.to}}</td>
							<td>{{booking.status}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="right"></div>
		
	</div>
</div>