<div id="wrapper">
	<div id="top-bar-background">
		<topbar user="user"></topbar>
	</div>

	<div class="mobile-search-wrapper">
		<search q="q"></search>
	</div>

	<div id="filters-wrapper">
		<filters></filters>
	</div>

	<div class="container" id="content-wrapper">
		<div class="left"></div>
		<div class="bookingtime">
			<div class="bookingtimetl">
				<h1>Booking Time</h1>
				<span> Choose date and time , Date range max 30 days</span>
				<span class="timezonespan"> Time Zone:<a href="">Estern -US & Canada</a></span>
			</div>
			<div class="bookingtimect">
				<div class="starttime">
					<div class="sltop">
						<select ng-repeat="sv in servicebookingtime" ng-model="service[sv.sv]" ng-click="servicebk(service[sv.sv])" >
							<option  ng-repeat=" elsv in sv">{{elsv}} </option>
						</select>	
						<select>
							<option>AM</option>
							<option>PM</option>
						</select>
						<select>
							<option>Duration</option>
							<option>15 min</option>
							<option>30 min</option>
							<option>45 min</option>
							<option>60 min</option>
						</select>
					</div>
					<div>
						
					</div>
					<div style="display: flex">
						<div>
							<md-datepicker ng-model="book.date" md-placeholder="Enter date"></md-datepicker>
						</div>

						<div class="stselec">
							<p>Start Time</p>
							<div class="stselecin">
								<div>
									<select ng-repeat="time in starttimebooking" ng-model="savetime[time.time]"  ng-click="savestbkus(savetime[time.time])">
										<option ng-repeat="intimest in time">
											{{intimest}}
										</option>
									</select>									
								</div>					
							</div>	

						</div>
					</div>					
				</div>
				<div class="textareabook">
					<textarea rows="4" cols="50">
					</textarea>
				</div>
			</div>
			<div class="priceipbk">
				<h1>Set Price (USD)</h1>
				<input type="text"  name="" ng-model="setpriceipbk">
			</div>
			<div class="booking-bottom">

				<button ng-click="saveallbkst()">SAVE</button>
				<div class="clear"> </div>
				<div class="tb-request">
		            <div ng-class="submitClass">
		                {{submitResult}}
		            </div>
		        </div>
			</div>
		</div>

		<div class="avail-expert-set">
			<h1>BOOKINGS</h1>

			<table class="table table-bordered">
				<thead>
					<td>No</td>
					<td>Date</td>
					<td>From-To</td>
					<td>Price</td>
					<td>Service</td>	
					<td>Edit</td>				
				</thead>
				<tbody  ng-repeat="booking in bookingAvail">
					<tr>
						<td>{{$index+1}}</td>
						<td>{{booking.date}}</td>
						<td>{{booking.timeFrom}}</td>
						<td>{{booking.price}}</td>
						<td>{{booking.service}}</td>
						<td><a class="availbt-edit" href="#!/editavail/{{booking._id}}">Edit</a> </td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		<div class="right"></div>
		
	</div>
</div>