<div id="wrapper">
	<div id="top-bar-background">
		<topbar user="user"></topbar>
	</div>

	<div class="mobile-search-wrapper">
		<search q="q"></search>
	</div>

	<div id="filters-wrapper">
		<filters></filters>
	</div>

	<div class="container" id="content-wrapper">
		<div class="left"></div>
		<div class="avail-md">
			<div class="avail-expert-set">
				<h1>SET AVAILABILITY</h1>
			</div>
			
			<div ng-repeat="avail in availability" class="avail-expert-set">
				<label for="availdate{{$index}}">Select date</label><md-datepicker ng-model="avail.date" md-placeholder="Enter date"></md-datepicker>
				<div class="time-ranges gr-avail">
					<label>Ranges of Time:</label>
					<div ng-repeat="range in avail.ranges" class="ranges-time">
						<div class="range-item">
							<label>From</label>
							<md-select ng-model="range.from">
			          			<md-option ng-repeat="time in timeranges" value="{{time}}">{{time}}</md-option>
			        		</md-select>
						</div>
						<div class="range-item">
							<label>To</label>
							<md-select ng-model="range.to">
		          				<md-option ng-repeat="time in timeranges" value="{{time}}">{{time}}</md-option>
		        			</md-select>
						</div>						
					</div>
					<button ng-click="addMoreRangeOfTime($index)"  class="bt-avail">Add more range of time</button>
				</div>
				
				<div class="gr-avail">
					<label>Price per hour: </label><input class="ip-avail" type="text" ng-model="avail.price" name="">
					<div class="clear"></div>
				</div>
				<div  class="gr-avail">
					<label>Service: </label><input class="ip-avail" type="text" ng-model="avail.service" name="">
					<div class="clear"></div>	
				</div>
			</div>
			<div class="gr-avail">
				<button ng-click="addMoreAvail()" class="bt-avail">Add More Availability</button>
			</div>
			

			<div class="gr-avail">
				<button ng-click="saveAvailability()" class="bt-avail">Save</button>
			</div>

			<div class="avail-expert-set">
				<h1>BOOKINGS</h1>

				<table class="table table-bordered">
					<thead>
						<td>No</td>
						<td>Date</td>
						<td>From-To</td>
						<td>Price</td>
						<td>Service</td>	
						<td>Edit</td>				
					</thead>
					<tbody  ng-repeat="booking in bookingAvail">
						<tr>
							<td>{{$index+1}}</td>
							<td>
								<div ng-repeat="avail in booking.availability">{{avail.date}}</div>
							</td>
							<td> 
								<div ng-repeat="avail in booking.availability">
									<span ng-repeat="range in avail.ranges">{{range.from}}------->{{range.to}};</span>
								</div>								
							</td>
							<td>
								<div ng-repeat="avail in booking.availability">{{avail.price}}</div>								
							</td>
							<td>
								<div ng-repeat="avail in booking.availability">{{avail.service}}</div>								
							</td>
							<td><a class="availbt-edit" href="#!/editavail/{{booking._id}}">Edit</a> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="right"></div>
		
	</div>
</div>