<div id="wrapper">
    <div id="top-bar-background">
        <topbar user="user"></topbar>
    </div>

    <div class="content centered">
        <div class="single-column">
            <ul class="role-heading">
                <li class="active">Expert</li>
                <li>Journalist</li>
            </ul>
            <div class="form-container">
                <div class="group">
                    <div class="title">General Information</div>
                    <div class="input-group">
                        <label for="fullName">Full name</label>
                        <input type="text" name="name" id="fullName">
                    </div>
                    <div class="input-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title">
                    </div>
                    <div class="input-group">
                        <label for="company">Company</label>
                        <input type="text" name="company" id="company">
                    </div>
                    <div class="input-group">
                        <label for="info">Info</label>
                        <textarea id="info"></textarea>
                    </div>
                </div>

                <div class="group">
                    <div class="title">Experience</div>
                    <div class="input-group">
                        <label>Date</label>
                        <input class="half" type="text" name="from" placeholder="From">
                        <input class="half" type="text" name="to" placeholder="To">
                    </div>
                    <div class="input-group">
                        <label for="title">Place</label>
                        <input type="text" name="title" id="title">
                    </div>
                    .input-
                </div>
            </div>
        </div>
    </div>
</div>