<form name="signupBetaForm" novalidate>
    <div id="wrapper">
        <div id="top-bar-background">
            <topbar user="user"></topbar>
        </div>
        <div class="content centered">
            <div class="single-column">
                <ul class="role-heading">
                    <li ng-class="signup.role === 'expert' && 'active'" ng-click="signup.role = 'expert'">Expert</li>
                </ul>

                <div class="form-container">
                    <!-- GENERAL INFORMATION -->
                    <div class="group">
                        <div class="title">General Information</div>
                        <div class="input-group">
                            <label for="fullName">Full name</label>
                            <input ng-model="signup.name" type="text" name="name" id="fullName" ng-required="true">
                            <p ng-show="signupBetaForm.name.$error.required && signupBetaForm.name.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>
                        <div class="input-group">
                            <label for="title">Title</label>
                            <input ng-model="signup.title" type="text" name="title" id="title" ng-required="true">
                            <p ng-show="signupBetaForm.title.$error.required && signupBetaForm.title.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>
                        <div class="input-group">
                            <label for="company">Company</label>
                            <input ng-model="signup.company" type="text" name="company" id="company" ng-required="true">
                            <p ng-show="signupBetaForm.company.$error.required && signupBetaForm.company.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>
                        <div class="input-group">

                            <label class="lbct" for="Category">Category</label>
                            <div class="slcategoryall">
                                <div class="slcategory"  ng-repeat="cat in expertCategory">
                                    {{cat.title}}
                                    <button class="btnlsct" ng-click="hidden($index)" >x</button>
                                </div>
                                <div class="addcateall">
                                    <select class="addcate" ng-model="selectedCategory" ng-change="addCategory()">
                                        <option ng-value="$index" ng-repeat="category in categories">{{category.title}}</option>
                                    </select>
                                </div> 
                            </div>     
                                                     
                        </div>
                        <div class="proof-ed">
                            <div class="input-group">
                                <div class="title">Do you have proof of sucessful education in related category ?</div>
                                <textarea ng-model="signup.educa" id="info" ng-required="true"></textarea>
                                <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                    This field is required
                                </p>
                            </div>
                            <div class="input-group with-file-upload closable" ng-repeat="item in signup.certificates">
                                <div class="close-btn-wrap">
                                    <i class="fa fa-close close-trigger js-close-trigger" ng-click="removeCertificate(item)"></i>
                                </div>
                                <label>Title</label>
                                <input ng-model="item.title" type="text" name="certificateTitle">
                                <input type="file" ng-model="item.file" name="certificate" class="hidden-file-input">
                                <div class="attach-file" ng-click="attachCertificate($event, item)">
                                    <i class="material-icons">attachment</i>
                                    <span class="title">Upload file</span>
                                </div>
                                <div class="notice">Add title for uploaded file</div>
                            </div>
                            <div class="input-group">
                                <p ng-show="errors.certificateFillRequired" class="error-block">
                                    Please, fill existing fields first
                                </p>
                                <a href="javascript:void(0);" class="add-more" ng-click="addMoreCertificates()">
                                    <i class="fa fa-plus"></i>
                                    Add more file
                                </a>
                            </div> 
                        </div>
                        <div class="proof-exp">
                            <div class="input-group">
                                <div class="title">Do you have proof of sucessful experience in related category ?</div>
                                <textarea ng-model="signup.expc" id="info" ng-required="true"></textarea>
                                <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                    This field is required
                                </p>
                            </div>
                            <div class="input-group with-file-upload closable" ng-repeat="item in signup.certificates">
                                <div class="close-btn-wrap">
                                    <i class="fa fa-close close-trigger js-close-trigger" ng-click="removeCertificate(item)"></i>
                                </div>
                                <label>Title</label>
                                <input ng-model="item.title" type="text" name="certificateTitle">
                                <input type="file" ng-model="item.file" name="certificate" class="hidden-file-input">
                                <div class="attach-file" ng-click="attachCertificate($event, item)">
                                    <i class="material-icons">attachment</i>
                                    <span class="title">Upload file</span>
                                </div>
                                <div class="notice">Add title for uploaded file</div>
                            </div>
                            <div class="input-group">
                                <p ng-show="errors.certificateFillRequired" class="error-block">
                                    Please, fill existing fields first
                                </p>
                                <a href="javascript:void(0);" class="add-more" ng-click="addMoreCertificates()">
                                    <i class="fa fa-plus"></i>
                                    Add more file
                                </a>
                            </div> 
                        </div>
                        <div class="proof-owner">
                            <div class="input-group">
                                <div class="title">Do you have proof of ownership of a successful business in related category ?</div>
                                <textarea ng-model="signup.own" id="info" ng-required="true"></textarea>
                                <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                    This field is required
                                </p>
                            </div>
                            <div class="input-group with-file-upload closable" ng-repeat="item in signup.certificates">
                                <div class="close-btn-wrap">
                                    <i class="fa fa-close close-trigger js-close-trigger" ng-click="removeCertificate(item)"></i>
                                </div>
                                <label>Title</label>
                                <input ng-model="item.title" type="text" name="certificateTitle">
                                <input type="file" ng-model="item.file" name="certificate" class="hidden-file-input">
                                <div class="attach-file" ng-click="attachCertificate($event, item)">
                                    <i class="material-icons">attachment</i>
                                    <span class="title">Upload file</span>
                                </div>
                                <div class="notice">Add title for uploaded file</div>
                            </div>
                            <div class="input-group">
                                <p ng-show="errors.certificateFillRequired" class="error-block">
                                    Please, fill existing fields first
                                </p>
                                <a href="javascript:void(0);" class="add-more" ng-click="addMoreCertificates()">
                                    <i class="fa fa-plus"></i>
                                    Add more file
                                </a>
                            </div> 
                        </div>
                        <div class="proof-car">
                            <div class="input-group">

                                <div class="title">Do you have proof of sucessful career in related category ?</div>
                                <textarea ng-model="signup.car" id="info" ng-required="true"></textarea>
                                <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                    This field is required
                                </p>
                            </div>
                            <div class="input-group with-file-upload closable" ng-repeat="item in signup.certificates">
                                <div class="close-btn-wrap">
                                    <i class="fa fa-close close-trigger js-close-trigger" ng-click="removeCertificate(item)"></i>
                                </div>
                                <label>Title</label>
                                <input ng-model="item.title" type="text" name="certificateTitle">
                                <input type="file" ng-model="item.file" name="certificate" class="hidden-file-input">
                                <div class="attach-file" ng-click="attachCertificate($event, item)">
                                    <i class="material-icons">attachment</i>
                                    <span class="title">Upload file</span>
                                </div>
                                <div class="notice">Add title for uploaded file</div>
                            </div>
                            <div class="input-group">
                                <p ng-show="errors.certificateFillRequired" class="error-block">
                                    Please, fill existing fields first
                                </p>
                                <a href="javascript:void(0);" class="add-more" ng-click="addMoreCertificates()">
                                    <i class="fa fa-plus"></i>
                                    Add more file
                                </a>
                            </div> 
                        </div>
                        <div class="proof-ac">
                            <div class="input-group">

                                <div class="title">Do you have proof of inspiring achievement in related category ?</div>
                                <textarea ng-model="signup.achi" id="info" ng-required="true"></textarea>
                                <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                    This field is required
                                </p>
                            </div>
                            <div class="input-group with-file-upload closable" ng-repeat="item in signup.certificates">
                                <div class="close-btn-wrap">
                                    <i class="fa fa-close close-trigger js-close-trigger" ng-click="removeCertificate(item)"></i>
                                </div>
                                <label>Title</label>
                                <input ng-model="item.title" type="text" name="certificateTitle">
                                <input type="file" ng-model="item.file" name="certificate" class="hidden-file-input">
                                <div class="attach-file" ng-click="attachCertificate($event, item)">
                                    <i class="material-icons">attachment</i>
                                    <span class="title">Upload file</span>
                                </div>
                                <div class="notice">Add title for uploaded file</div>
                            </div>
                            <div class="input-group">
                                <p ng-show="errors.certificateFillRequired" class="error-block">
                                    Please, fill existing fields first
                                </p>
                                <a href="javascript:void(0);" class="add-more" ng-click="addMoreCertificates()">
                                    <i class="fa fa-plus"></i>
                                    Add more file
                                </a>
                            </div> 
                        </div>
                        <div class="proof-coa">
                            <div class="input-group">

                                <div class="title">Why do you consider yourself as successful person in related category?</div>
                                <textarea ng-model="signup.consi" id="info" ng-required="true"></textarea>
                                <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                    This field is required
                                </p>
                            </div>
                            <div class="input-group">

                                <div class="title">Proof of Certification as a coach in related category?</div>
                                <textarea ng-model="signup.cerci" id="info" ng-required="true"></textarea>
                                <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                    This field is required
                                </p>
                            </div>
                            <div class="input-group with-file-upload closable" ng-repeat="item in signup.certificates">
                                <div class="close-btn-wrap">
                                    <i class="fa fa-close close-trigger js-close-trigger" ng-click="removeCertificate(item)"></i>
                                </div>
                                <label>Title</label>
                                <input ng-model="item.title" type="text" name="certificateTitle">
                                <input type="file" ng-model="item.file" name="certificate" class="hidden-file-input">
                                <div class="attach-file" ng-click="attachCertificate($event, item)">
                                    <i class="material-icons">attachment</i>
                                    <span class="title">Upload file</span>
                                </div>
                                <div class="notice">Add title for uploaded file</div>
                            </div>
                            <div class="input-group">
                                <p ng-show="errors.certificateFillRequired" class="error-block">
                                    Please, fill existing fields first
                                </p>
                                <a href="javascript:void(0);" class="add-more" ng-click="addMoreCertificates()">
                                    <i class="fa fa-plus"></i>
                                    Add more file
                                </a>
                            </div> 
                        </div>
                        <div class="input-group">

                            <div class="title">Why are you a coach?</div>
                            <textarea ng-model="signup.cy" id="info" ng-required="true"></textarea>
                            <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="title">How many years of experience as a coach</div>
                            <textarea ng-model="signup.expy" id="info" ng-required="true"></textarea>
                            <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                This field is required
                            </p>
                        </div> 
                        
                        <div class="input-group">
                            <div class="title">Do you have a website or a blog</div>
                            <textarea ng-model="signup.wb" id="info" ng-required="true"></textarea>
                            <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>  
                        <div class="input-group">
                            <div class="title">Have you helper people before as a coach for free</div>
                            <textarea ng-model="signup.hp" id="info" ng-required="true"></textarea>
                            <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>  
                        <div class="input-group">
                            <div class="title">What volunteer work have you done in the past </div>
                            <textarea ng-model="signup.vl" id="info" ng-required="true"></textarea>
                            <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>  
                        <div class="input-group">
                            <div class="title">Give us 3 reference of people you have helped with their contacts? </div>
                            <textarea ng-model="signup.pyh" id="info" ng-required="true"></textarea>
                            <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>   
                        <div class="proof-bottom">
                            
                            <div class="title">Have you writen any books ? </div>
                            <div class="proof-h">
                                <span>Title:</span>
                                <input ng-model="signup.ywab" class="ip-h" type="text" name="">
                            </div>
                            <div class="clear"></div>
                            <div class="proof-c">
                                <span>Year of bublication:</span>
                                <input ng-model="signup.yob" class="ip-ct" type="" name="">
                            </div>
                            <div class="clear"></div>
                            <div class="proof-f">
                                <div><span>Where can i buy ?</span></div>
                                <textarea rows="4" cols="50" ng-model="signup.cibw" id="info" ng-required="true"></textarea>
                                <p ng-show="signupBetaForm.info.$error.required && signupBetaForm.info.$touched" class="error-block">
                                    This field is required
                                </p>
                            </div>
                            <div class="clear"></div>
                            
                        </div> 
                        

                    </div>

                    <!-- Experience GROUP -->
                    <!-- <div class="group">
                        <div class="title">Experience</div>
                        <div class="experience closable" ng-repeat="item in signup.experience">
                            <div class="close-btn-wrap">
                                <i class="fa fa-close close-trigger js-close-trigger" ng-click="removeExperience(item)"></i>
                            </div>
                            <div class="input-group">
                                <label>Date</label>
                                <div class="date-input-wrapper half">
                                    <md-datepicker ng-model="item.from" name="from" md-placeholder="From" md-open-on-focus></md-datepicker>
                                </div>
                                <div class="date-input-wrapper half">
                                    <md-datepicker ng-model="item.to" name="to" md-placeholder="To" md-open-on-focus></md-datepicker>
                                </div>
                            </div>
                            <div class="input-group">
                                <label>Place</label>
                                <input ng-model="item.place" type="text" name="place">
                            </div>
                        </div>
                        <div class="input-group">
                            <p ng-show="errors.experienceFillRequried" class="error-block">
                                Please, fill existing fields first
                            </p>
                            <a href="javascript:void(0);" class="add-more" ng-click="addMoreExperience()">
                                <i class="fa fa-plus"></i>
                                Add more experience
                            </a>
                        </div>
                    </div> -->
                   

                    <!-- CERTIFICATES GROUP -->
                   

                    <!-- CONTACT INFORMATION GROUP -->
                    <!-- <div class="group">
                        <div class="title">Contact information</div>
                        <div class="input-group">
                            <label>Phone</label>
                            <input ng-model="signup.phone" type="tel" name="phone" ng-required="true">
                            <p ng-show="signupBetaForm.phone.$error.required && signupBetaForm.phone.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>
                        <div class="input-group">
                            <label>Email</label>
                            <input ng-model="signup.email" type="email" name="email" ng-required="true">
                            <p ng-show="signupBetaForm.email.$error.required && signupBetaForm.email.$touched" class="error-block">
                                This field is required
                            </p>
                        </div>
                        <div class="input-group">
                            <label>Facebook</label>
                            <input ng-model="signup.facebook" type="url" name="facebook">
                        </div>
                        <div class="input-group">
                            <label>LinkedIn</label>
                            <input ng-model="signup.linkedin" type="url" name="linkedin">
                        </div>
                        <div class="input-group">
                            <label>Twitter</label>
                            <input ng-model="signup.twitter" type="url" name="twitter">
                        </div>
                        <div class="input-group">
                            <label>Pinterest</label>
                            <input ng-model="signup.pinterest" type="url" name="pinterest">
                        </div>
                        <div class="input-group">
                            <label>Instagram</label>
                            <input ng-model="signup.instagram" type="url" name="instagram">
                        </div>

                        <div class="input-group closable" ng-repeat="item in signup.contacts track by $index">

                            <div class="close-btn-wrap">
                                <i class="fa fa-close close-trigger js-close-trigger" ng-click="removeContact(item)"></i>
                            </div>
                            <label>Contact</label>
                            <input ng-model="signup.contacts[$index]" type="text">
                        </div>
                        <div class="input-group">
                            <p ng-show="errors.contactsLimit" class="error-block">You can add 5 contacts maximum</p>
                            <a href="javascript:void(0);" class="add-more" ng-click="addMoreContacts()">
                                <i class="fa fa-plus"></i>
                                Add more contacts
                            </a>
                        </div>
                    </div> -->

                    <!--  ADDITIONAL FILES GROUP -->
                <div class="group">                        
                    <div class="input-group">
                        <div ng-class="submitClass">
                            {{submitResult}}
                        </div>
                    </div>
                    <div class="submit-block">
                        <button class="action-button" ng-class="!signupBetaForm.$valid && 'disabled'" ng-click="sendForm()" ng-disabled="!signupBetaForm.$valid">Finish registration</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>