<div id="wrapper">
	<div id="top-bar-background">
		<topbar user="user"></topbar>
	</div>

	<div class="mobile-search-wrapper">
		<search q="q"></search>
	</div>

	<div id="filters-wrapper">
		<filters></filters>
	</div>
	
	<div class="container" id="content-wrapper">
		<div class="left"></div>
		<div class="bookingtime">
			<div class="bookingtimetl">
				<h1>Booking Time</h1>
				<span> Choose date and time , Date range max 30 days</span>
				<span class="timezonespan"> Time Zone:
					<a href="">Estern -US & Canada</a>
				</span>
			</div>
			<div class="bookingtimect">
				<div class="starttime">
					<div class="sltop">
						<select ng-repeat="sv in servicebookingtime" ng-model="service[sv.sv]" ng-click="servicebk(service[sv.sv])">
							<option ng-repeat=" elsv in sv">{{elsv}} </option>
						</select>
						<select>
							<option>AM</option>
							<option>PM</option>
						</select>
						<select>
							<option>Duration</option>
							<option>15 min</option>
							<option>30 min</option>
							<option>45 min</option>
							<option>60 min</option>
						</select>
					</div>
					<div>

					</div>
					<div style="display: flex">
						<div>
							<md-datepicker ng-model="book.date" md-placeholder="Enter date"></md-datepicker>
						</div>

						<div class="stselec">
							<p>Start Time</p>
							<div class="stselecin">
								<div>
									<select ng-repeat="time in starttimebooking" ng-model="savetime[time.time]" ng-click="savestbkus(savetime[time.time])">
										<option ng-repeat="intimest in time">
											{{intimest}}
										</option>
									</select>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="textareabook">
					<textarea rows="4" cols="50">
					</textarea>
				</div>
			</div>
			<div class="priceipbk">
				<h1>Set Price (USD)</h1>
				<input type="text" name="" ng-model="setpriceipbk">
			</div>
			<div class="booking-bottom">

				<button ng-click="saveallbkst()">SAVE</button>
				<div class="clear"> </div>
				<div class="tb-request">
					<div ng-class="submitClass">
						{{submitResult}}
					</div>
				</div>
			</div>
		</div>

		<div class="avail-md">
			<!-- <div class="avail-expert-set">
				<h1>EXPERT AVAILABILITY</h1>
				<table>
					<thead>
						<td>No</td>
						<td>Date</td>
						<td>Range of Time</td>
						<td>Price</td>
						<td>Action</td>
					</thead>
					<tbody>
						<tr ng-repeat="avail in availability">
							<td>{{$index+1}}</td>
							<td>{{avail.date}}</td>
							<td>
								<span ng-repeat="range in avail.ranges">{{range.from}} - {{range.to}}<br></span>
							</td>
							<td>{{avail.price}}</td>
							<td><button ng-click="doBooking($index)">Book</button></td>
						</tr>
					</tbody>
				</table>
			</div> -->

			<div class="avail-expert-set">
				<h1>BOOKINGS</h1>

				<table class="table table-bordered">
					<thead>
						<td>No</td>
						<td>Date</td>
						<td>From-To</td>
						<td>Price</td>
						<td>Service</td>
						<td>Action</td>
					</thead>
					<tbody ng-repeat="booking in bookingAvail">
						<tr>
							<td>{{$index+1}}</td>
							<td>
								<div ng-repeat="avail in booking.availability">{{avail.date}}</div>
							</td>
							<td>
								<div ng-repeat="avail in booking.availability">
									<span ng-repeat="range in avail.ranges">{{range.from}}----->{{range.to}};</span>
								</div>
							</td>
							<td>
								<div ng-repeat="avail in booking.availability">{{avail.price}}</div>
							</td>
							<td>
								<div ng-repeat="avail in booking.availability">{{avail.service}}</div>
							</td>
							<td>
								<button class="availbt-edit" ng-click="doBooking($index)">Book</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="avail-expert-set" ng-show="isBooking">
				<h1>BOOK YOU SCHEDULE WITH EXPERT</h1>

				<label for="">Select date</label>
				<md-datepicker ng-model="book.date" md-placeholder="Enter date"></md-datepicker>
				<div class="time-ranges">
					<label>Ranges of Time:</label>
					<div ng-repeat="range in book.ranges" class="ranges-time">
						<div class="range-item">
							<label>From</label>
							<md-select ng-model="range.from">
								<md-option ng-repeat="time in timeranges" value="{{time}}">{{time}}</md-option>
							</md-select>
						</div>

						<div class="range-item">
							<label>To</label>
							<md-select ng-model="range.to">
								<md-option ng-repeat="time in timeranges" value="{{time}}">{{time}}</md-option>
							</md-select>
						</div>


					</div>
					<button ng-click="addMoreRangeOfTime()" md-no-ink class="md-primary">Add more range of time</button>
					<button ng-click="addBooking()" md-no-ink class="md-primary">AddBook</button>
				</div>
			</div>

			<!-- <div class="chosetimeexp">
				<div>
					<select>
						<option>SERVICE</option>
						<option>EXPERT LIVE ADVICE</option>
						<option>EXPERT BOOST</option>
					</select>
					<select> 
						<option>AM</option>
						<option>PM</option>
					</select>
					<select>
						<option>15m</option>
						<option>30m</option>
						<option>45m</option>
						<option>60m</option>
					</select>
				</div>
				<div>
					<div>
						<h1>Start Time</h1>
					</div>
					<div class="allbtnexptime">
						<div>
							<button class="btexptime">1:00</button>
							<button class="btexptime">2:00</button>
							<button class="btexptime">3:00</button>
							<button class="btexptime">4:00</button>
						</div>
						<div>
							<button class="btexptime">5:00</button>
							<button class="btexptime">6:00</button>
							<button class="btexptime">7:00</button>
							<button class="btexptime">8:00</button>
						</div>
						
						<div>
							<button class="btexptime">9:00</button>
							<button class="btexptime1">10:00</button>
							<button class="btexptime1">11:00</button>
							<button class="btexptime1">12:00</button>
						</div>
						
					</div>
				</div>				
			</div> -->
		</div>
		<div class="right"></div>



	</div>
</div>