<div class="bookingtime-all">
	<div class="container">
		<div class="col-lg-8">
			<div class="bkt-l">
				<div class="bkt-t-a">
					<div class="bkt-t">
						<h1>Booking Time</h1>
					</div>
					<div class="bkt-e">
						<span> Set date and time ,date range max 30 days</span>
						<span class="sp-tz"> Time Zone:<strong>Eastern Time -Us & Canada <i class="fa fa-chevron-down" aria-hidden="true"></i> </strong></span>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bkt-ct-a">

					<md-datepicker ng-model="avail.date" md-placeholder="Enter date"></md-datepicker>

					<div class="bk-d">
						
					</div>
					<div class="bk-t">
						<div class="bkt-s">
							
						</div>
						<div class="bkt-time">
							
						</div>
					</div>
				</div>	
				<div class="bkt-comment" >
					<textarea rows="6" cols="75">
						
					</textarea>
				</div>	
				<div class="bkt-tt">
					<span class="bkt-price">
						Subtotal:$80/hour
					</span>
					<span class="bkt-btn"><button>Next</button></span>
					<div class="clear"> </div>
				</div>	
			</div>
		</div>	
		<div class="col-lg-4">
			<div class="bkt-r">
				<div class="booktime-sl">
					<ul>
						<li>
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							Step1:Bookking time
						</li>
						<li>
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							Step2:Select Payment Method
						</li>
						<li>
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							Step3:Confirm Booking
						</li>
					</ul>
				</div>

				<div class="booktime-alert">
					<div class="bt-al">
						<h1>Not Available</h1>
						<span>The time slot you have selected is not available</span>
					</div>
					<div class="border-bt-line">
						
					</div>
					<div class="bt-btn">
						<a href="">OK</a>
					</div>
					
				</div>
			</div>
		</div>	
	</div>

	<div class="container">
		<div class="col-lg-8">
			<div class="cf-booking">
				<div class="bkt-t-a">
					<div class="bkt-t-a-l">
						<div class="bkt-t">
							<h1>Confirm Bookign</h1>
						</div>
						<div class="bkt-e">
							<span> check your information and confirm booking</span>	
							<div class="clear"></div>
						</div>
					</div>
				</div>				
				<div class="cf-booking-ct">
					<div class="cf-time">
						<span>
							<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
							Nov 10,2017(3:32 hours)
						</span>
					</div>
					<div class="cf-duration">
						<span>
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							Duration:3:30(8:00 AM - 11:30 AM, GMT)
						</span>
					</div>
					<div class="cf-vs">
						<span>
							<i class="fa fa-usd" aria-hidden="true"></i>
							100 VISA
						</span>
					</div>
					<div class="cf-text">
						<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised</p>
					</div>
				</div>	
						
				<div class="cf-booking-btn">
					<div class="bk-btn-all">
						<span>
							<button class="btn-back">Back</button>
						</span>
						<span>
							<button class="btn-next">Next</button>
						</span>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="bkt-r-a">
				<div class="bkt-r">
					<div class="booktime-sl">
						<ul>
							<li>
								<i class="fa fa-check" aria-hidden="true"></i>
								Step1:Bookking time
							</li>
							<li>
								<i class="fa fa-check" aria-hidden="true"></i>
								Step2:Select Payment Method
							</li>
							<li>
								<i class="fa fa-angle-left" aria-hidden="true"></i>
								Step3:Confirm Booking
							</li>
						</ul>
					</div>			
				</div>
			</div>
			
		</div>
	</div>


	<div class="container">
		<div class="col-lg-8">
			<div class="slbooking">
				<div class="slbookingbg">
					<div class="slbooking">
						
					</div>
				</div>
			</div>
				
		</div>
	</div>
</div>