<div id="wrapper">
	<div id="top-bar-background">
		<topbar user="user"></topbar>
	</div>

	<div class="content">
		<div class="middle wide">
			<div class="messages-wrapper">
				<div class="chats">
					<div class="search">
						<a href="javascript:void(0);" class="action"><i class="material-icons">search</i></a>
						<input type="text" placeholder="Search in conversations" ng-model="chatssearch">
						<a href="javascript:void(0);" class="action"><i class="material-icons">add</i></a>
					</div>

					<div class="user" ng-class="{active: u.active}" ng-click="setActive(u)" ng-repeat="u in chats track by $index">
						<a ng-href="#!/person/{{u._id}}">
							<avatar user="u"></avatar>
						</a>

						<div class="text">
							<a ng-href="#!/person/{{u._id}}" class="name">{{u.name}}</a>
							<div class="role">{{u.role}}</div>
						</div>
					</div>
				</div>
				<div class="chat">
				</div>
			</div>
		</div>
		<div class="right" ng-if="feedType != 'people'">
			<newquestions user="user" ng-show="user && user.active_questions > 0"></newquestions>
			<familiarexperts></familiarexperts>
			<aboutbox></aboutbox>
		</div>
	</div>
</div>