<div id="top-bar-background"></div>
<div id="wrapper" ng-controller="homeController">
	<topbar user="user"></topbar>
	<filters></filters>

	<div class="content">
		<div class="left">
			<profilecard ng-if="user" user="user"></profilecard>

			<pieces></pieces>
		</div>
		<div class="middle">
			<onyourmind ng-if="user && user.role != 'User'"></onyourmind>
			<feed ng-if="user || guest" user="user"></feed>
		</div>
		<div class="right">
			<familiarexperts></familiarexperts>
			<aboutbox></aboutbox>
		</div>
	</div>
</div>