<div class="container">
	<div class="input-gr">
		<label>ngayghidanh</label>
		<input ng-model="ghidanh" type="" name="">
	</div>
	<div class="input-gr">
		<label>Ten</label>
		<input ng-model="ten" type="" name="">
	</div>
	<div class="input-gr">
		<label>sdt</label>
		<input ng-model="sdt" type="" name="">
	</div>
	<div class="input-gr">
		<label>ngaysinh</label>
		<input ng-model="ngaysinh" type="" name="">
	</div>
	<div class="input-gr">
	 	<div class="lop">
	 		<label>tenlop</label>
			<input  ng-model="tenlop" type="" name="">
			<label>gio hoc</label>
			<input  ng-model="giohoc" type="" name="">
			<label>coso</label>
			<input  ng-model="coso" type="" name="">
			<label>hocphi</label>
			<input  ng-model="hocphi" type="" name="">
	 	</div>
		
	</div>
	<div class="">
		<button ng-click="addDS" >addDS</button>
	</div>


</div>
