<div id="landing-wrapper" ng-controller="resetPasswordController">
	<div id="header-wrapper" class="shadow">
		<div id="header">
			<a ng-href="#!/" id="logo"></a>

			<div id="header-buttons">
				<a href=javascript:void(0);>Home</a>
				<a href=javascript:void(0);>FAQ</a>
				<a href=javascript:void(0);>How it works</a>
			</div>

			<div id="search">
				<i class="material-icons">search</i>
				<input type="text" placeholder="Search">
			</div>
		</div>
	</div>
	<div id="content-wrapper" class="empty">
		<div class="content reset-password">
			<div class="block">
				<div ng-if="tokenValid && !done">
					<div class="title">Reset password</div>
					<div class="text">Please fill new password</div>

					<form name="$parent.resetpasswordForm" novalidate>
						<input type="password" name="password" ng-model="$parent.newPassword" ng-change="$parent.newPasswordError = false" ng-class="{error: $parent.newPasswordError}" placeholder="New password" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/" ng-minlength="8">
						<input type="password" name="passwordRepeat" ng-model="$parent.newPasswordRepeat" ng-change="$parent.newPasswordRepeatError = false" ng-class="{error: $parent.newPasswordRepeatError}" placeholder="Repeat new password" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/" ng-minlength="8">

						<div class="text">
							Password should be at least 8 symbols long and contain at least one digit and one letter
						</div>

						<div class="footer">
							<button ng-click="doReset()" class="resetpassword cta-button">Reset password</button>
						</div>
					</form>
				</div>
				<div ng-if="!tokenValid && !done">
					<div class="title">Invalid token</div>
					<div class="text">Please check the link and try again</div>
					<div ng-if="customError" class="text">{{customError}}</div>
					<a ng-href="#!/start">Go back to start page</a>
				</div>
				<div ng-if="done">
					<div class="title">Password reset</div>
					<div class="text">Password was successfully updated. Now you can continue.</div>
					<a ng-href="#!/start">Go back to start page</a>
				</div>
			</div>
		</div>
	</div>
</div>