<div id="wrapper" ng-controller="homeController">
	<div id="top-bar-background">
		<topbar q="q" user="user"></topbar>
	</div>
	<!-- <filters></filters> -->
	<div class="results-banner">Results for "{{::q}}"</div>

	<div class="content">
		<div class="left">
			<profilecard ng-if="user" user="user"></profilecard>
			<pieces></pieces>
		</div>
		<div class="middle">
			<searchfeed ng-if="user || guest" q="q" user="user"></searchfeed>
		</div>
		<div class="right">
			<familiarexperts></familiarexperts>
			<aboutbox></aboutbox>
		</div>
	</div>
</div>