<div class="familiar-expert card">
	<button class="hide"><i class="material-icons">close</i></button>
	<div class="header">
		<avatar user="user"></avatar>
		<div class="name">{{user.name}}</div>
		<div class="role">{{user.role}}</div>
	</div>
	<div class="divider"></div>
	<div class="footer">
		<div class="likes-row-wrapper">
			<div class="likes-value">{{user.likes_percentage}}% Likes</div>
			<div class="likes-row" style="width: {{user.likes_percentage}}%"></div>
		</div>
		<div class="follow" title="Follow"><i class="material-icons">person_add</i> <div class="title">Follow</div></div>
	</div>
</div>