<div class="lightbox">
	<div class="wrapper">
		<div class="image">
			<img src="{{image.filename}}" />
		</div>
		<div class="info">
			<div class="author">
				<avatar user="image.author"></avatar>
				<div class="name">{{image.author.name}}</div>
			</div>

			<div class="reactions">
				<button ng-click="react('like')" ng-class="{active: image.youdid.like}" class="like">
					<i class="material-icons">thumb_up</i>
					<span class="title">Like {{image.reactions.likes}}</span>
				</button>
				<button href="javascript:void(0);" ng-click="react('love')" ng-class="{active: image.youdid.love}" class="love">
					<i class="material-icons">whatshot</i>
					<span class="title">Love {{image.reactions.loves}}</span>
				</button>
			</div>

			<div class="cycle">
				<a href="javascript:void(0);" ng-class="{disabled: !showPrev}" ng-click="showPrev()">Prev</a>
				<a href="javascript:void(0);" ng-class="{disabled: !showNext}" ng-click="showNext()">Next</a>
			</div>
		</div>
	</div>
</div>