<div class="lightbox">
	<div class="wrapper">
		<div class="image">
			<img src="{{image.filename}}" />
		</div>
		<div class="info">
			<div class="author">
				<avatar user="image.author"></avatar>
				<div class="name">{{image.author.name}}</div>
			</div>

			<div class="cycle">
				<a href="javascript:void(0);" ng-class="{disabled: !showPrev}" ng-click="showPrev()">Prev</a>
				<a href="javascript:void(0);" ng-class="{disabled: !showNext}" ng-click="showNext()">Next</a>
			</div>
		</div>
	</div>
</div>