<div class="ratings">
	<div class="rating">
		<div class="title">Expert</div>
		<div class="value likes">{{reactions.expert.likes}}</div>
		<div class="value dislikes">{{reactions.expert.dislikes}}</div>
		<div class="value shares">{{reactions.expert.shares}}</div>
	</div>

	<div class="rating">
		<div class="title">Journalist</div>
		<div class="value likes">{{reactions.journalist.likes}}</div>
		<div class="value dislikes">{{reactions.journalist.dislikes}}</div>
		<div class="value shares">{{reactions.journalist.shares}}</div>
	</div>

	<div class="rating">
		<div class="title">Visitor</div>
		<div class="value likes">{{reactions.user.likes}}</div>
		<div class="value dislikes">{{reactions.user.dislikes}}</div>
		<div class="value shares">{{reactions.user.shares}}</div>
	</div>
</div>