<div class="comments" ng-init="showmore=false" ng-class="{moreShown: showmore || nocollapse}" ng-show="comments.length > 0">
	<a href="javascript:void(0);" ng-click="$parent.showmore=!$parent.showmore" class="show-more" ng-if="comments.length > 3 && !nocollapse">
		{{($parent.showmore ? 'Show less' : 'Show more')}}
	</a>

	<div ng-class="{highlighted: comment.highlighted}" ng-hide="comment.removed" class="comment" id="c{{comment._id}}" ng-repeat="comment in comments track by $index">
		<a name="c{{comment._id}}"></a>

		<div class="comment-actions-wrapper" ng-hide="comment.editing">
			<a href="javascript:void(0);" ng-if="user._id == comment.author._id" class="edit" title="Edit comment" ng-click="setEditingMode(comment, true)">
				<i class="material-icons">mode_edit</i>
			</a>

			<a href="javascript:void(0);" ng-if="user._id == comment.author._id" class="remove" title="Remove comment" ng-click="remove(comment)">
				<i class="material-icons">close</i>
			</a>
		</div>

		<avatar class="comment-author-avatar" user="comment.author"></avatar>
		<div class="comment-title">
			<span ng-if="comment.author.role.toLowerCase() == 'user'" class="name dark-bold">{{comment.author.name}}</span>
			<a ng-if="comment.author.role.toLowerCase() != 'user'" ng-href="#!/person/{{comment.author._id}}" class="name dark-bold">{{comment.author.name}}</a>

			<span class="time small-light" am-time-ago="comment.createdAt"></span>
		</div>

		<textarea class="text" ng-show="comment.editing" ng-model="comment.editingText" ng-disabled="loading"></textarea>
		<div class="text" ng-if="comment.author.role.toLowerCase() == 'user'" ng-hide="comment.editing" ng-bind-html="comment.text | textLinks"></div>
		<div class="text" ng-if="comment.author.role.toLowerCase() != 'user'" ng-hide="comment.editing" ng-bind-html="comment.text | textLinks | url"></div>

		<div class="buttons" ng-show="comment.editing">
			<button ng-click="setEditingMode(comment, false)" ng-disabled="loading" class="cancel cta-button">Cancel</button>
			<button ng-click="updateComment(comment)" ng-disabled="loading" class="save cta-button">Save</button>
		</div>

		<div class="images" ng-hide="comment.editing">
			<a ng-href="image" lightbox class="image" ng-repeat="image in comment.images" style="background-image: url({{image}})"></a>
		</div>

		<a href="javascript:void(0);" class="showmore" ng-show="comment.fullText != '' && !comment.hideShowMore" ng-click="comment.text = comment.fullText; comment.hideShowMore = true">Show more...</a>

		<commentreactions ng-hide="comment.editing" comment="comment"></commentreactions>

		<div class="divider"></div>
	</div>
</div>
