<div class="stats" ng-if="profile">
	<a ng-href="{{(profile.reactions.likes > 0) ? '#!/profilefeed/' + profile._id + '/liked' : 'javascript:void(0);'}}" ng-class="{active: active == 'liked'}" class="stat">
		<i class="material-icons">thumb_up</i>
		<div class="value">{{profile.reactions.likes || 0}}</div>
		<div class="title">Like</div>
	</a>
	<a ng-href="{{(profile.reactions.dislikes > 0) ? '#!/profilefeed/' + profile._id + '/disliked' : 'javascript:void(0);'}}" ng-class="{active: active == 'disliked'}" class="stat">
		<i class="material-icons">thumb_down</i>
		<div class="value">{{profile.reactions.dislikes || 0}}</div>
		<div class="title">Dislike</div>
	</a>
	<a ng-href="{{(profile.reactions.reacts > 0) ? '#!/profilefeed/' + profile._id + '/commented' : 'javascript:void(0);'}}" ng-class="{active: active == 'commented'}" class="stat">
		<i class="material-icons">chat_bubble</i>
		<div class="value">{{profile.reactions.reacts || 0}}</div>
		<div class="title">React</div>
	</a>
	<a ng-href="{{(profile.reactions.following > 0) ? '#!/profilepeople/' + profile._id + '/following' : 'javascript:void(0);'}}" ng-class="{active: active == 'following'}" class="stat">
		<i class="material-icons">person</i>
		<div class="value">{{profile.reactions.following}}</div>
		<div class="title">Following</div>
	</a>
	<a ng-if="profile.role != 'User'" ng-href="{{(profile.reactions.followers > 0) ? '#!/profilepeople/' + profile._id + '/followers' : 'javascript:void(0);'}}" ng-class="{active: active == 'followers'}" class="stat">
		<i class="material-icons">people</i>
		<div class="value">{{profile.reactions.followers}}</div>
		<div class="title">Followers</div>
	</a>
	<a ng-href="{{(profile.reactions.friends > 0) ? '#!/profilepeople/' + profile._id + '/friends' : 'javascript:void(0);'}}" ng-class="{active: active == 'friends'}" class="stat">
		<i class="material-icons">people</i>
		<div class="value">{{profile.reactions.friends}}</div>
		<div class="title">Friends</div>
	</a>
</div>
