<div class="card user-info">
	<div class="mini-wallpaper" ng-class="{empty: !user.wallpaper}" style="background-image: url('{{user.wallpaper}}')"></div>
	<a href="#!/person/{{user._id}}">
		<div class="avatar" style="background-image: url('{{image}}')"></div>
	</a>

	<div class="info">
		<div class="name dark-bold">{{user.name}}</div>
		<div class="status">{{user.nickname}}</div>
		<a href="#!/person/{{user._id}}">View profile</a>
	</div>

	<div ng-if="user.role == 'User'" class="divider"></div>

	<div ng-if="user.role == 'User'">
		<a href="#!/beta/expert">Upgrade to Expert</a>
	</div>
	<div class="info-reviews">
		<div class="info-reviews-rate">
			<div class="info-rating">
				<span>3,9/5</span>
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="info-rv">25 Reviews</div>
			<div class="clear"></div>
		</div>	
		<div class="info-show">
			<a href=""> Show Reviews</a>	
		</div>		
	</div>
</div>