<div id="top-bar">
	<a id="logo" ng-href="#!/"></a>

	<div id="search">
		<i class="material-icons">search</i>
		<input type="text" placeholder="Search">
	</div>

	<!-- <div class="cta-button make-post">
		<i class="material-icons">chat_bubble</i>
		<div class="title">Make post</div>
	</div> -->

	<a ng-show="!user" ng-href="#!/start" class="cta-button">
		<i class="material-icons">person</i>
		<div class="title">Sign up</div>
	</a>

	<followersicon ng-if="user && user.role != 'User'" user="user"></followersicon>
	
	<button ng-if="user && user.role != 'User'" ng-if="user" class="small-icon" title="Messages">
		<div class="badge">
			<div class="value">12</div>
		</div>
		<i class="material-icons">forum</i>
	</button>

	<notificationsicon ng-if="user && user.role != 'User'" user="user"></notificationsicon>

	<div id="user-block" ng-cloak ng-if="$parent.user">
		<div class="avatar-wrapper" ng-click="$parent.openUserMenu($event)">
			<avatar nolink="true" user="user"></avatar>
		</div>
		<a class="name dark-bold" ng-click="$parent.openUserMenu($event)" href="javascript:void(0);">{{user.name || 'Guest'}}</a>
		<a class="view-profile" ng-if="user.role != 'User'" ng-href="#!/person/{{user._id}}">View profile</a>

		<usermenu user="user" ng-if="$parent.user"></usermenu>
	</div>
</div>