<div class="user-menu" ng-class="{active: active}">
	<!-- <a href="javascript:void(0);">Manage Categories</a>
	<a href="javascript:void(0);">Manage Countries</a>
	<div class="divider"></div> -->
	<a href="javascript:void(0);">Change Account</a>
	<a href="javascript:void(0);" ng-if="user.role == 'User'">Upgrade to Expert</a>
	<a href="javascript:void(0);" ng-if="user.role == 'User'">Upgrade to Journalist</a>
	<div class="divider"></div>
	<a ng-href="#!/settings">Settings</a>
	<a href="javascript:void(0);" ng-click="logout()">Logout</a>
</div>