<div class="wallpaper-wrapper">
    <bigratedavatar user="profile" ng-if="profile"></bigratedavatar>

    <div ng-show="user && profile">
        <div class="buttons narrow" ng-if="user._id != profile._id">
            <a ng-show="!profile.isFollowing" ng-if="profile.role != 'User'" class="follow" ng-click="follow(profile)">
                <i class="material-icons">person_add</i>
                <div class="title">Follow</div>
            </a>
            <a ng-show="profile.isFollowing" ng-if="profile.role != 'User'" class="follow" ng-click="unfollow(profile)">
                <i class="material-icons">person_outline</i>
                <div class="title">Unfollow</div>
            </a>

            <a ng-if="!profile.friendship.requested" href="javascript:void(0);" ng-click="addContact(profile._id)"
               class="add-contact">
                <i class="material-icons">person_add</i>
                <div class="title">Add to contacts</div>
            </a>
            <a ng-if="profile.friendship.requested && (profile.friendship.isInitiator || profile.friendship.accepted)"
               href="javascript:void(0);" ng-click="removeContact(profile._id)" class="add-contact">
                <i class="material-icons">person_outline</i>
                <div class="title" ng-show="profile.friendship.accepted">Remove contact</div>
                <div class="title" ng-show="!profile.friendship.accepted && profile.friendship.isInitiator">
                    Remove request
                </div>
            </a>
            <a ng-if="profile.friendship.requested && !profile.friendship.isInitiator && profile.friendship.requestID && !profile.friendship.accepted"
               href="javascript:void(0);" ng-click="acceptFriendship(profile.friendship.requestID)" class="add-contact">
                <i class="material-icons">person_add</i>
                <div class="title">Accept</div>
            </a>
            <a ng-if="profile.friendship.requested && !profile.friendship.isInitiator && profile.friendship.requestID && !profile.friendship.accepted"
               href="javascript:void(0);" ng-click="declineFriendship(profile.friendship.requestID)" class="add-contact">
                <i class="material-icons">person_outline</i>
                <div class="title">Decline</div>
            </a>
            <a ng-if="profile.role != 'User'" ng-href="#!/questions/{{profile._id}}" class="ask-question"><i class="material-icons">help</i>
                <div class="title">Ask question</div>
            </a>
            <a ng-href="#!/chat/{{profile._id}}" class="message"><i class="material-icons">message</i>
                <div class="title">Message</div>
            </a>
        </div>

        <div ng-class="{single: (user.active_questions == 0 || !user.active_questions)}" class="buttons"
             ng-if="user._id == profile._id">
            <a ng-href="#!/questions/{{profile._id}}" class="questions" ng-if="profile.role !== 'User'"><i class="material-icons">help</i>
                <div class="title">Question box {{(user.active_questions) ? '(' + user.active_questions + ')' : ''}}
                </div>
            </a>
            <a ng-href="#!/editmy" class="edit-profile"><i class="material-icons">edit</i>
                <div class="title">Edit profile</div>
            </a>
        </div>
    </div>

    <div class="wallpaper" ng-class="{empty: !profile.wallpaper}"
         style="background-image: url('{{profile.wallpaper}}')"></div>
    <div class="footer">
        <profilereactions active="type" profile="profile"></profilereactions>
    </div>
</div>
